/* body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: #fff;
    width: 960px;
    height: 700px;
    margin-top: 10px;
  } */
  

  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin-top: 10px;
  }

  #main {
    float: left;
    width: 80%;
  }
  
  #sidebar {
    position: relative;
    float: right;
    width: 20%;
  }
  
  #sequence {
    width: 100%;
    height: 70px;
  }
  
  #legend {
    padding: 10px 0 0 3px;
  }
  
  #sequence text, #legend text {
    font-weight: 600;
    fill: #fff;
  }
  
  #chart {
    position: absolute;
    text-align: center;
  }
  
  #chart path {
    stroke: #fff;
  }
  
  #explanation {
    transform: translate(375px,325px);
    position: absolute;
    width: 150px;
    text-align: center;
    color: #666;
    z-index: -1;
  }

  
  #percentage {
    font-size: 1.5em;
  }